@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-primario: #795400;
    --color-secundario: #ca8e00;
    --bg-color-primario: rgb(28, 28, 28);
    --bg-color-secundario: rgb(97, 97, 97);
    --bg-color-terciario: rgb(141, 141, 141);
}

a{
    text-decoration: none; /* Elimina la decoración subrayada */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

button{
    cursor: pointer;
    border: none;
}

/* NAV */
.nav{
    color: #fff;
    background-color: var(--bg-color-primario);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: max-content;
    padding: 2em;
}

.nav_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_hamburger_button > svg{
    width: 24px;
    height: 24px;
}

.nav_cont_menu {
    overflow: hidden;
    width: 100%;
    opacity: 0;
    height: 0;
    /* transition: height 0.3s ease, opacity 0.3s ease;  */ /*CONTROLADO CON JS */
}

.nav_cont_menu.active {
    opacity: 1;
    height: 100%;
}

.nav_lista{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
    list-style: none;
}
/* END NAV */

/* HEADER */
.header{
    position: relative;
    padding-top: 5.5em;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 85vh;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* capa sobre el slide que da efecto de oscurecer */
.slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 2));
    pointer-events: none;
  }

.slide.active{
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.slider_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #fff;
    text-align: center;
}

.content_text span{
    font-size: 35px;
    font-weight: 700;
}

.content_text p{
    font-size: 20px;
}

.button_container{
    position: absolute;
    z-index: 6;
    left: 50%;
    bottom: 44%;
    transform: translate(-50%, -50%);
}

.button_container button{
    padding: 1em;
    background: none;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.button_container button:hover{
    background-color: var(--color-primario);
}

.options_container{
    position: absolute;
    z-index: 6;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1em;
}

.options_container button{
    background: none;
    display: grid;
    color: #fff;
    font-weight: 700;
}

.options_container button > span {
    border: 1px solid var(--color-secundario);
    background-color: var(--bg-color-primario);
    border-radius: 50px;
    font-size: 70px;
    padding: 10px;
    transition: background 0.5s ease-in-out;
    margin-bottom: 5px;
}

.options_container button > span:hover{
    background-color: var(--color-primario);
}

.slick_slider_container{
    position: absolute;
    z-index: 6;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1em;
}

.slick_rounded{
    background-color: var(--bg-color-secundario);
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 50%;
}

.slick_rounded.active{
    background-color: #fff;
}
/* END HEADER */

/* MAIN */
/* DESCUBRE */
.descubre{
    position: relative;
    z-index: 6;
    margin-top: -4em;
}

.descubre_card{
    margin: 1.5em;
    color: #fff;
    background-color: var(--bg-color-primario);
}

.card_img_container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.descubre_card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.descubre_card:hover img {
    transform: scale(1.1);
}

.card_content{
    display: grid;
    gap: 1em;
    padding: 1em;
}

.card_content a{
    width: max-content;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.card_content a:hover{
    color: var(--color-primario);
    border-bottom: 1px solid var(--color-primario);
}

/* END DESCUBRE */
/* ABOUT */
.emprende{
    background-image: url("../img/about4-1.png");
    background-size: cover;
    background-position: center;
    padding: 2em;
    color: #fff;
    text-align: center;
}

.emprende_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.emprende_content span{
    border: 1px solid var(--color-secundario);
    background-color: var(--color-primario);
    border-radius: 50%;
    padding: 0.3em;
    font-size: 60px;
}

.emprende a{
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 0.5em;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.emprende a:hover{
    background-color: var(--color-primario);
}
/* EMPRENDE */
/* ABOUT */
.about_tittle{
    padding: 5em;
    text-align: center;
    background-color: #fff;
}

.about_content{
    padding: 2em;
    color: #fff;
    background-color: var(--bg-color-primario);
}

.about_card{
    text-align: center;
    position: relative;
    z-index: 6;
    margin-top: -6em;
    display: grid;
    gap: 15px;
}

.about_card_icon{
    text-align: center;
}

.about_card_icon span{
    padding: 0.5em;
    background-color: var(--bg-color-terciario);
    border-radius: 50%;
    font-size: 70px;
}

.about_card_content{
    display: grid;
    gap: 10px;
    justify-items: center;
}

.about_card_content a{
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 0.5em;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.about_card_content a:hover{
    background-color: var(--color-primario);
}


/* ABOUT */
/* CONTACT */

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3em;
    margin: 2em;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.9);
}

.contact_tittle{
    text-align: center;
}

.contact_content{
    display: flex;
    flex-direction: column;
}

.contact_items_container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}

.contact_item{
    display: flex;
    align-items: center;
    gap: 1em;
}

.contact_item:hover i{
    background-color: var(--color-primario);
}

.contact_item i{
    background-color: var(--bg-color-terciario);
    padding: 0.4em;
    font-size: 40px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.contact_form_container h1{
    text-align: center;
    padding: 1em;
}

.contact_form_container form{
    display: grid;
}

.contact_form_container form input, textarea{
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1.5em;
    background-color: var(--bg-color-terciario);
    border: none;
    resize: none;
}

.form_buttons{
    display: flex;
    justify-content: center;
}

.form_buttons button{
    width: max-content;
    padding: 1em;
    border-radius: 10px;
}

.form_buttons button{
    background-color: var(--color-primario);
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 1em;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.form_buttons button:hover{
    background-color: var(--color-secundario);
}

/* END CONTACT */

/* END MAIN */



@media screen and (min-width: 768px) {

    /* NAV */
    .nav{
        flex-direction: row;
        justify-content: space-around;
        padding: 2.2em;
    }

    .nav_hamburger_button{
        display: none;
    }

    .nav_cont{
        width: 50%;
        justify-content: center;
    }

    .nav_cont_menu{
        display: flex;
        opacity: 1;
        height: 100%;
        justify-content: start;
        width: 50%;
    }

    .nav_lista{
        flex-direction: row;
        padding: 0;
    }
    /* END NAV */

    /* DESCUBRE */
    .descubre{
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .descubre_card{
        margin: 0;
    }
    /* END DESCUBRE */

    /* CONTACT */
    .contact_content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact_items_container{
        order: 2;
    }

    .contact_form_container{
        order: 1;
    }
    /* END CONTACT */
}

@media screen and (min-width: 1024px) {
    
    /* HEADER */
    .content_text span{
        font-size: 50px;
        font-weight: 700;
    }
    
    .content_text p{
        font-size: 30px;
    }
    /* END HEADER */

    .contact_content{
        gap: 2em;
    }

    .contact_form_container{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .contact{
        margin-left: 10em;
        margin-right: 10em;
    }
}