@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

:root{
    --color-primario: #795400;
    --color-secundario: #ca8e00;
    --bg-color-primario: rgb(28, 28, 28);
    --bg-color-secundario: rgb(97, 97, 97);
    --bg-color-terciario: rgb(141, 141, 141);
}

a{
    text-decoration: none; /* Elimina la decoración subrayada */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

button{
    cursor: pointer;
    border: none;
}

/* NAV */
.nav{
    color: #fff;
    background-color: var(--bg-color-primario);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 50;
    width: 100%;
    height: max-content;
    padding: 2em;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 1);
}

.nav_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_cont_logo{
    color: var(--color-secundario);
}

.nav_hamburger_button > svg{
    width: 24px;
    height: 24px;
}

.nav_cont_menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: hidden;
    width: 100%;
    opacity: 0;
    height: 0;
    /* transition: height 0.3s ease, opacity 0.3s ease;  */ /*CONTROLADO CON JS */
}

.nav_cont_menu.active {
    opacity: 1;
    height: 100%;
}

.nav_lista{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    gap: 1em;
    list-style: none;
}

.nav_lista_item{
    border: 1px transparent;
    position: relative;
    width: max-content;
}

.nav_lista_item:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secundario);
    transition: width 0.3s ease-in-out;
}

.nav_lista_item:hover:before {
    width: 100%;
}

.login_container{
    display: flex;
    gap: 1em;
}

.login_container button{
    background-color: var(--color-primario);
    font-weight: 700;
    border-radius: 10px;
    padding: 0.5em;
    color: #fff;
    transition: background 0.3s ease-in-out;
    flex-basis: 50%;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.login_container:hover button{
    background-color: var(--color-secundario);
}
/* END NAV */

/* HEADER */
.header{
    position: relative;
    padding-top: 5.5em;
}

.arrow_back_container{
    display: none;
}

.arrow_forward_container{
    display: none;
}

.slider{
    position: relative;
    overflow: hidden;
    height: 85vh;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* capa sobre el slide que da efecto de oscurecer */
.slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 2));
    pointer-events: none;
  }

.slide.active{
    display: block;
    opacity: 1;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.slider_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    color: #fff;
    text-align: center;
}

.content_text span{
    font-size: 35px;
    font-weight: 700;
}

.content_text p{
    font-size: 20px;
}

.button_container{
    position: absolute;
    z-index: 6;
    left: 50%;
    bottom: 44%;
    transform: translate(-50%, -50%);
}

.button_container button{
    padding: 1em;
    background: none;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
}

.button_container button:hover{
    background-color: var(--color-primario);
}

.options_container{
    position: absolute;
    z-index: 6;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1em;
}

.options_container button{
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 700;
    
}

.options_container button > span {
    border: 1px solid var(--color-secundario);
    background-color: var(--bg-color-primario);
    border-radius: 50px;
    font-size: 40px;
    padding: 10px;
    transition: background 0.5s ease-in-out;
    margin-bottom: 5px;
    width: max-content;
}

.options_container button:hover span{
    background-color: var(--color-primario);
}

.slick_slider_container{
    position: absolute;
    z-index: 6;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1em;
}

.slick_rounded{
    background-color: var(--bg-color-secundario);
    width: 15px;
    height: 15px;
    padding: 1px;
    border-radius: 50%;
}

.slick_rounded.active{
    background-color: #fff;
}
/* END HEADER */

/* MAIN */
/* DESCUBRE */
.descubre{
    position: relative;
    z-index: 6;
    margin-top: -4em;
    display: flex;
    flex-direction: column;
}

.descubre_card{
    margin: 1.5em;
    color: #fff;
    background-color: var(--bg-color-primario);
}

.card_img_container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.descubre_card img {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.descubre_card:hover img {
    transform: scale(1.1);
}

.card_content{
    display: grid;
    gap: 1em;
    padding: 1em;
}


.card_content a{
    width: max-content;
    border-bottom: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.card_content a:hover{
    color: var(--color-primario);
    border-bottom: 1px solid var(--color-primario);
}

/* END DESCUBRE */
/* ABOUT */
.emprende{
    background-image: url("../img/about4-1.png");
    background-size: cover;
    background-position: center;
    padding: 2em;
    color: #fff;
    text-align: center;
}

.emprende_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.emprende_content span{
    border: 1px solid var(--color-secundario);
    background-color: var(--color-primario);
    border-radius: 50%;
    padding: 0.3em;
    font-size: 60px;
}

.emprende_content h1{
    font-size: 30px;
}

.emprende_content p{
    font-weight: 700;
}

.emprende a{
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 0.5em;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.emprende a:hover{
    background-color: var(--color-primario);
}

/* EMPRENDE */
/* ABOUT */
.about_tittle{
    padding: 5em 0;
    text-align: center;
    background-color: #fff;
    font-size: 23px;
}

.about_tittle span{
    color: var(--color-primario);
}

.about_content{
    padding: 2em;
    color: #fff;
    background-color: var(--bg-color-primario);
}

.about_card{
    text-align: center;
    position: relative;
    z-index: 5;
    margin-top: -6em;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: max-content;
}

.about_card.active{
    display: flex;
}

.about_card_icon{
    width: max-content;
}

.about_card_icon span{
    padding: 0.5em;
    background-color: var(--bg-color-terciario);
    border-radius: 50%;
    font-size: 70px;
    transition: color 0.3s ease-in-out;
}

.about_card_icon:hover span{
    color: var(--color-secundario);
}

.about_card_content{
    display: grid;
    gap: 10px;
    justify-items: center;
}

.about_card_content p{
    max-height: 100%;
    overflow: auto;
}

.about_card_content a{
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 0.5em;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.about_card_content a:hover{
    background-color: var(--color-primario);
}

.arrow_back_about{
    display: block;
    position: absolute;
    z-index: 6;
    left: 7%;
}

.arrow_back_about button{
    background: none;
}

.arrow_back_about i{
    color: #fff;
    font-size: 50px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 1));
    transition: color 0.3s ease-in-out;
}

.arrow_back_about:hover i{
    color: var(--color-primario);
}

/* .arrow_back_about.active{
    transform: translateX(-100%);
} */

.arrow_forward_about{
    display: block;
    position: absolute;
    z-index: 6;
    right: 7%;
}

.arrow_forward_about button{
    background: none;
}

.arrow_forward_about i{
    color: #fff;
    font-size: 50px;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 1));
    transition: color 0.3s ease-in-out;
}

.arrow_forward_about:hover i{
    color: var(--color-primario);
}

/* .arrow_forward_about.active{
    transform: translateX(100%);
} */



/* ABOUT */
/* CONTACT */

.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 3em;
    margin: 2em;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.9);
}

.contact_tittle{
    text-align: center;
}

.contact_content{
    display: flex;
    flex-direction: column;
}

.contact_items_container{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
}

.contact_item{
    display: flex;
    align-items: center;
    gap: 1em;
}

.contact_item:hover i{
    background-color: var(--color-primario);
}

.contact_item i{
    background-color: var(--bg-color-terciario);
    padding: 0.4em;
    font-size: 40px;
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
}

.contact_form_container h1{
    text-align: center;
    padding: 1em;
}

.contact_form_container form{
    display: grid;
    font-weight: 700;
}

.contact_form_container form input, textarea{
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1.5em;
    background-color: var(--bg-color-terciario);
    border: none;
    resize: none;
}

.form_buttons{
    display: flex;
    justify-content: center;
}

.form_buttons button{
    width: max-content;
    padding: 1em;
    border-radius: 10px;
}

.form_buttons button{
    background-color: none;
    border: 2px solid #fff;
    border-radius: 10px;
    width: max-content;
    padding: 1em;
    font-weight: 700;
    transition: all 0.5s ease-in-out;
}

.form_buttons button:hover{
    background-color: var(--color-secundario);
}
/* END CONTACT */
/* END MAIN */

/* FOOTER */

.footer{
    background-color: var(--bg-color-primario);
    display: flex;
    flex-direction: column;
    padding: 4em;
    gap: 1em;
    color: #fff;
}

.logo_footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_footer h1{
    color: var(--color-secundario);
}

.footer_list{
    display: grid;
    gap: 1em;
}

.footer_list_item{
    list-style: none;
}

.footer_list_item a{
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s ease-in-out;
}

.footer_list_item:hover a{
    color: var(--color-secundario);
}

/* END FOOTER */

@media screen and (min-width: 768px) {

    /* NAV */
    .nav{
        flex-direction: row;
        justify-content: space-around;
        padding: 2.2em;
    }

    .nav_hamburger_button{
        display: none;
    }

    .nav_cont{
        width: 50%;
        justify-content: center;
    }

    .nav_cont_menu{
        flex-direction: row;
        align-items: center;
        opacity: 1;
        height: 100%;
        justify-content: start;
        width: 50%;
    }

    .nav_lista{
        flex-direction: row;
        padding: 0;
    }
    /* END NAV */

    /* HEADER */
    .slick_slider_container{
        display: none;
    }

    .arrow_back_container{
        display: block;
        position: absolute;
        z-index: 6;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
    }

    .arrow_back_container button{
        background: none;
    }

    .arrow_back_container i{
        color: #fff;
        font-size: 70px;
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 1));
        transition: color 0.3s ease-in-out;
    }

    .arrow_back_container:hover i{
        color: var(--color-primario);
    }

    .arrow_forward_container{
        display: block;
        position: absolute;
        z-index: 6;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    .arrow_forward_container button{
        background: none;
    }

    .arrow_forward_container i{
        color: #fff;
        font-size: 70px;
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 1));
        transition: color 0.3s ease-in-out;
    }

    .arrow_forward_container:hover i{
        color: var(--color-primario);
    }
    /* END HEADER */

    /* DESCUBRE */
    .descubre{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .descubre_card{
        margin: 0;
        flex: 1;
        flex-basis: 33.33%;
    }
    /* END DESCUBRE */

    /* ABOUT */
    .about_content{
        display: flex;
        justify-content: space-around;
    }

    .about_card{
        display: flex;
        margin-left: 7em;
        margin-right: 7em;
    }

    .arrow_back_about, .arrow_forward_about{
        display: none;
    }


    /* END ABOUT */

    /* CONTACT */
    .contact_content{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .contact_items_container{
        order: 2;
    }

    .contact_form_container{
        order: 1;
    }
    /* END CONTACT */

    /* FOOTER */
        .footer{
            flex-direction: row;
            justify-content: center;
            gap: 5em;
        }
    /* END FOOTER */

}

@media screen and (min-width: 1024px) {
    
    /* HEADER */
    .content_text span{
        font-size: 50px;
        font-weight: 700;
    }
    
    .content_text p{
        font-size: 30px;
    }
    /* END HEADER */

    .contact_content{
        gap: 2em;
    }

    .contact_form_container{
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .contact{
        margin-left: 10em;
        margin-right: 10em;
    }
}


/* LOADING */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-color-primario);
    z-index: 999;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--color-secundario);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* esconde la pantalla loading cuando termina de cargar */
  .loaded .loading {
    display: none;
  }
  /* END LOADING */